<div class="page-container horizontal-menu"> <!-- add class -> with-sidebar to have left column -->
    <!-- NO Side bar for this page hence removed the above class -->
    <!--Main content-->
    <div class="main-content stretch-vertical">

        <div class="flexi-layout" ng-controller="DeptPositionsEmployeesController">

            <div class="flexi-header">

                <div class="title pull-left">
                    The Departments, Employee positions listing
                </div>           

                <div class="pull-right actions">

                    <button 
                        ng-click="uploadAdpHrData()"
                        type="button"
                        class="btn btn-link pull-right">
                        <span class="fa fa-2x fa-upload"></span>
                    </button>
                    <div class="search-box pull-right">
                        <input type="text" name="q" class="search-input" placeholder="Search..." ng-model="filterOptions.filterText" ng-change="search()" />
                        <button type="submit">
                            <i class="entypo-search"></i>
                        </button>
                    </div>

                </div>
                <div class="clearfix">
                </div>
            </div>
            <div class="flexi-content"> <!-- flexi content assumes that it nests the grid and does cascading styles in the less -->
                <div ng-grid="gridOptions" class="grid-default"></div>
            </div>
        </div>
       
    </div>
    
    <!--this is weird as ng handles reference from global scope-->
    <script src="assets/js/base-api.js"></script>
    <script src="assets/js/base-custom.js"></script>
    <script src="assets/js/base-demo.js"></script>
</div>