<div class="text-center pt4px">
    <button class="btn btn-link btn-s"
            data-ng-click="viewAppMaster(row)">
        <span class="glyphicon glyphicon-search"></span>
        <!-- <span title=".icon32  .icon-color  .icon-edit " class="icon32 icon-color icon-edit"></span> -->
    </button>
    <button class="btn btn-link btn-s"
            data-ng-click="editAppMaster(row)">
        <span class="glyphicon glyphicon-pencil"></span>
        <!-- <span title=".icon32  .icon-color  .icon-edit " class="icon32 icon-color icon-edit"></span> -->
    </button>
    <button class="btn btn-link btn-s"
            data-ng-click="deleteDataEntity(row)">
        <span class="glyphicon glyphicon-trash"></span>
        <!-- <span title=".icon32  .icon-color  .icon-trash " class="icon32 icon-color icon-trash"></span> -->
    </button>
</div>