<div class="modal-header primary-bg">
    <h4 class="modal-title text-primary">
        <span class="glyphicon glyphicon-star"></span>
        <strong>Data Entity Information</strong>
    </h4>
</div>
<div class="modal-body">
    <ng-form name="form.dataEntityFormDialog" novalidate role="form">
        <div>
            <div class="form-group input-group-lg" ng-class="{'has-error' : dataEntityFormDialog.entityNm.$dirty && dataEntityFormDialog.entityNm.$invalid }">
                <label class="control-label" for="entityNm"> Name</label>
                <input type="text" class="form-control" name="entityNm" id="entityNm" ng-model="entityNm" ng-keyup="hitEnter($event)" required>
            </div>
            <div class="form-group input-group-lg" ng-class="{'has-error' : dataEntityFormDialog.entityDefn.$dirty && dataEntityFormDialog.entityDefn.$invalid }">
                <label class="control-label" for="entityDefn"> Description</label>
                <textarea class="form-control" name="entityDefn" id="entityDefn" ng-model="entityDefn" ng-keyup="hitEnter($event)" required></textarea>
            </div>
            <div class="form-group input-group-lg" ng-class="{'has-error' : dataEntityFormDialog.entityExtRefUrl.$dirty && dataEntityFormDialog.entityExtRefUrl.$invalid }">
                <label class="control-label" for="entityExtRefUrl"> Link - Any external references to definitions/explanations</label>
                <input type="text" class="form-control" name="entityExtRefUrl" id="entityExtRefUrl" ng-model="entityExtRefUrl" ng-keyup="hitEnter($event)" required>
            </div>
			<div class="col col-4">
				<span class="input-group-addon">
					<label class="checkbox"><input type="checkbox" name="checkbox" checked><i></i>Account Coding</label>
					<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Admin</label>
					<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Securities</label>
					<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Communication</label>
					<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Compass/CRM</label>
					<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Event</label>
				</span>
			</div>
			<div class="col col-4">
				<span class="input-group-addon">
					<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>HR</label>
					<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>IT</label>
					<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Market Data</label>
				</span>
			</div>
            <!--
            <div class="row">
                <div class="col-md-12">
                    <label>Choose Date:</label>
                    <p class="input-group">
                        <input type="text" class="form-control"
                               datepicker-popup="{{format}}"
                               ng-model="dt" 
                               is-open="opened"
                               min-date="minDate"
                               max-date="'2015-06-22'"
                               show-weeks="false"
                               date-disabled="disabled(date, mode)"
                               ng-required="true"
                               close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" 
                                ng-click="open($event)">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </p>
                </div>
            </div>
            -->
        </div>
    </ng-form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-click="save()" ng-disabled="(dataEntityFormDialog.$dirty && dataEntityFormDialog.$invalid) || dataEntityFormDialog.$pristine">Save</button>
</div>
