<div class="page-container horizontal-menu"> <!-- add class -> with-sidebar to have left column -->
    <!-- NO Side bar for this page hence removed the above class -->
    <!--Main content-->
    <div class="main-content stretch-vertical">
        <div ng-controller="ManageAppMasterController" class="pam">
            <div class="text-align: center;"><h4>The Master Application Listing</h4></div>
            <!-- CONTROLLER -->
            <div>
                <button ng-click="addApplication()"
                        type="button"
                        class="btn btn-primary">
                    <span class="glyphicon glyphicon-plus"></span>&nbsp;Add Application
                </button>
                <div class="search-box pull-right">
                    <input type="text" name="q" class="search-input" placeholder="Search..." ng-model="filterOptions.filterText" ng-change="search()" />
                    <button type="submit">
                        <i class="entypo-search"></i>
                    </button>
                </div>
            </div>
            <div class="clearfix"></div>
            <hr />
            <div class="grid-default"
                 ng-grid="gridOptions">
            </div>
        </div>
        <!-- Ends Controller -->
    </div>
    
    <!--this is weird as ng handles reference from global scope-->
    <script src="assets/js/base-api.js"></script>
    <script src="assets/js/base-custom.js"></script>
    <script src="assets/js/base-demo.js"></script>
</div>