<div class="text-center pt4px">
    <button class="btn btn-link btn-s pr5px mr5px "
            data-title="Edit"
            data-toggle="modal"
            data-target="#edit"
            data-placement="top"
            data-ng-click="editRecord(row)">
        <span class="glyphicon glyphicon-pencil"></span>
        <!-- <span title=".icon32  .icon-color  .icon-edit " class="icon32 icon-color icon-edit"></span> -->
    </button>
    <button class="btn btn-link btn-s"
            data-title="Delete"
            data-toggle="modal"
            data-target="#delete"
            data-placement="top"
            data-ng-click="deleteRecord(row)">
        <span class="glyphicon glyphicon-trash"></span>
        <!-- <span title=".icon32  .icon-color  .icon-trash " class="icon32 icon-color icon-trash"></span> -->
    </button>
</div>