<!DOCTYPE html>
<!-- define angular app -->
<html data-ng-app="angularDashboardApp" lang="en">
    <head>
        <!--Meta-->
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <!--Title-->
        <title>Data Governance @ Scottrade</title>

        <!--
            The below files are minified into one CSS file via grunt
            LESS:
            'assets/css/less-base/core.css': 'assets/css/less-base/core.less'

            CSS:
            'assets/css/font-icons/entypo/css/entypo.css',
            'assets/css/font-icons/font-awesome/css/font-awesome.css',
            'assets/js/jquery-ui/css/no-theme/jquery-ui-1.10.3.custom.min.css',
            'assets/css/less-base/core.css'
        -->
		<!-- select2 css -->
		<link rel="stylesheet" href="assets/js/select2-3.4.8/select2.css">
        <!-- nv.d3 css -->
        <link rel="stylesheet" href="assets/js/angular-nvd3/nv.d3.min.css">
        <!-- core css -->
        <link rel="stylesheet" href="assets/css/core.min.css">
        <link rel="stylesheet" href="assets/js/ng-table-master/ng-table.min.css">
        <!--jQuery-->
        <script src="assets/js/jquery-1.11.0.min.js"></script>

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="assets/js/html5shiv.js"></script>
            <script src="assets/js/respond.min.js"></script>
        <![endif]-->
    </head>
    <!-- define angular controller -->
    <body class="page-body" data-ng-controller="mainController">
        <!-- add with-sidebar if its a two column page -->
        <div class="page-container horizontal-menu">
            <header class="navbar navbar-fixed-top">
                <!-- set fixed position by adding class "navbar-fixed-top" -->
                <div class="navbar-inner">
                    <!-- logo -->
                    <div class="navbar-brand">
                        <a href="#login">
                            <img src="assets/images/logo@2x.png" height="36" alt="" />
                        </a>
                    </div>
                    <!-- notifications and other links -->
                    <ul class="nav navbar-right pull-right">
                        <!-- dropdowns -->
                        <li class="dropdown">
                            <a class="dropdown-toggle cursor-pointer" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <img src="assets/images/lockscreen-user.png" width="24" class="img-circle"/>
                                <span class="badge badge-info accent-bg">4</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="top">
                                    <p><strong>Name:</strong> Justin Williams</p>
                                </li>
                                <li class="top">
                                    <p><strong>Role:</strong> DG Analyst</p>
                                </li>
                                <li>
                                    <ul class="dropdown-menu-list scroller">
                                        <li>
                                            <a href="#">
                                                <span class="task">
                                                    <span class="desc text-primary">You have 4 pending actions of 10</span>
                                                    <span class="percent">60%</span>
                                                </span>
                                                <span class="progress progress-striped">
                                                    <span style="width: 60%;" class="progress-bar progress-bar-important">
                                                        <span class="sr-only">60% Complete</span>
                                                    </span>
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <div class="row pall15px">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                            <a class="cursor-pointer pull-left">
                                                <i class="entypo-cog"></i>
                                                Settings
                                            </a>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                            <a class="cursor-pointer pull-right">
                                                Logout
                                                <i class="entypo-login"></i>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- mobile only -->
                        <li class="visible-xs">
                            <!-- open/close menu icon (do not remove if you want to enable menu on mobile devices) -->
                            <div class="horizontal-mobile-menu visible-xs">
                                <a href="#" class="with-animation">
                                    <!-- add class "with-animation" to support animation -->
                                    <i class="entypo-menu"></i>
                                </a>
                            </div>
                        </li>
                    </ul>
                    <!-- Links -->
                    <ul class="navbar-nav pull-right">
                        <li data-ng-repeat="link in headerLinks">
                            <a href="{{link.linkUrl}}"><i class="fa fa-{{link.linkIcon}} pr5px"></i><span>{{link.linkname}}</span></a>
                            <ul data-ng-show="{{link.subLinks.length}}">
                                <li data-ng-repeat="sublink in link.subLinks">
                                    <a href="{{sublink.subLinkUrl}}"><span>{{sublink.subLinkName}}</span></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </header>
            <div>  <!--class="main-content"-->
                <!--NG VIEW-->
                <div data-ng-view></div>
                <!-- Footer -->
                <footer class="main">
                    &copy; 2014 <strong>Data</strong> Governance @ Scottrade
                </footer>
            </div>
        </div>

        <!--scripts-->
        <!--angular base and route-->
        <script src="assets/js/angular/angular.min.js"></script>
        <script src="assets/js/angular/angular-route.js"></script>

        <!-- ngTable -->
        <script src="assets/js/ng-table-master/ng-table.min.js"></script>

        <!--angular ui and templates - the templates here are generated by grunt and stored in templateCache -->
        <!-- Angular Bootstrap UI (dependency - 'ui-bootstrap')-->

        <script type="text/javascript" src="assets/js/angular-ui/ng-custom-templates.js"></script>
        <script type="text/javascript" src="assets/js/angular-ui/ui-bootstrap-tpls-0.11.0.js"></script>
        
        <!--Angular dialog-->
        <script type="text/javascript" src="assets/js/angular-dialog/dialogs.min.js"></script> <!-- DO not use the minified file for now, as I have modified the template inside it, Need to grunt it into templateCache later-->

        <script src="assets/js/gsap/main-gsap.js"></script>
        <script src="assets/js/bootstrap.js"></script>
        <script src="assets/js/joinable.js"></script>
        <script src="assets/js/resizeable.js"></script>
        <script src="assets/js/jquery.validate.min.js"></script>
        <script src="assets/js/jquery.inputmask.bundle.min.js"></script>
        
        <script src="assets/js/base-api.js"></script>
        <script src="assets/js/base-custom.js"></script>
        <script src="assets/js/base-demo.js"></script>

		<!-- select2 components - BEGIN -->
        <!-- jQuery select2 --><script type="text/javascript" src="assets/js/select2-3.4.8/select2.min.js"></script>
        <!-- Angular ui-select2 --><script type="text/javascript" src="assets/js/angular-ui/angular-ui-select2.js"></script>
		<!-- select2 components - END   -->

        <!-- D3 -->
        <script src="assets/js/d3/d3.min.js" charset="utf-8"></script>

        <!-- nv.d3 -->
        <script src="assets/js/angular-nvd3/nv.d3.min.js"></script>
        <script src="assets/js/angular-nvd3/angular-nvd3.min.js"></script>

        <!--app-->
        <script src="app/directive.js"></script>
        <script src="app/app.js"></script>

        <!-- controllers -->
        <!-- Data Entity Controllers --> 
        <script src="app/dataEntity/services/dataEntityService.js"></script>
        <script src="app/dataEntity/controllers/manageDataEntityController.js"></script>
        <script src="app/dataEntity/controllers/addDataEntityController.js"></script>
        <script src="app/dataEntity/controllers/editDataEntityController.js"></script>

        <!-- App Master Controllers -->
        <script src="app/appMaster/controllers/manageAppMasterController.js"></script>

        <!-- Dashboard Controllers -->
        <script src="app/dashboard/controllers/dashboardController.js"></script>

    </body>
</html>
